<div class="contain-img">
  <h1 class="mb-5 pt-5">¿Qué te gustaría hacer hoy?</h1>

  <div class="cards_container">
    <% @services.each do |service| %>
      <div class="card-product">
        <div class="cover-card">
          <%= cl_image_tag service.photo.key, class: "card-img-top " %>
        </div>
        <h2> <%= link_to  service.product_name, service_path(service), class:"card-title" %> </h2>
        <p> <%= service.description %> </p>
        <hr>
        <div class="footer-card">
          <p><%= service.user.first_name %> <%= service.user.last_name %></p>
          <h3 class="card-trip-pricing"><i class="fa-solid fa-dollar-sign"></i> <%= service.price %></h3>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Upload service", new_service_path, class: "bn5 my-5" %>
</div>
