<h1 class="mt-5">What are you looking for today?</h1>

<div class="container col-5">
  <% @services.each do |service| %>
    <div class="m-5 card-product d-flex">
      <div class="col-1">
       <%= cl_image_tag service.photo.key, height: 450, width: 450, crop: :fill, class: "card-img-top " %>
      </div>
      <div class="col-11 justify-content-center">
        <div class="card-product-infos">
          <div class="mb-2">
            <h2> <%= link_to  service.product_name, service_path(service), class:"text-decoration-none" %> </h2>
          </div>
          <div class="d-flex justify-content-end align-items-center">
            <div class="col-10">
              <p> <%= service.description %> </p>
            </div>
            <div class="col-1">
              <h2 class="card-trip-pricing"><i class="fa-solid fa-dollar-sign"></i> <%= service.price %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Upload service", new_service_path, class: "bn5" %>
