<div class="card-trip m-5 col-3">
  <%= cl_image_tag @booking.service.photo.key, height: 450, width: 450, crop: :fill, class: "card-img-top " %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @booking.service.product_name %></h2>
      <p>Fecha inicio: <%= @booking.start_date%></p>
      <p>Fecha final: <%= @booking.end_date%></p>
    </div>
    <h2 class="card-trip-pricing"><i class="fa-solid fa-dollar-sign"></i> <%= @booking.service.price %></h2>
  </div>
</div>

<%= link_to "Back to products", services_path, class:"btn btn-dark" %>
<%= link_to "Delete", booking_path, class:"btn btn-dark", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" } %>
<%= link_to "Edit", edit_booking_path(@booking), class:"btn btn-dark" %>
